@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", sans-serif;
    --fonte3: "Sriracha", cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte1);
}

body {
    min-height: 100vh;
    background-color: grey;
}

header {
    background-color: black;
    color: white;
    text-align: center; 
}

header h1 {
    font-family: var(--fonte3);
    font-variant: small-caps;
    padding-top: 50px;
    font-size: 10vw;
}

header p {
    padding-bottom: 50px;
}

header a, footer a {
    text-decoration: none;
    color: white;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding: 10vh 0px 10vh 30px;
}

section p {
    line-height: 1.8em;
    font-family: var(--fonte3);
    font-size: 3vw;
    padding: 9px;
}

.normal {
    background-color: white;
}

.imagem {
    background-color: rgb(57, 57, 57);
    color: white;
}

.imagem p {
    background-color: rgba(0, 0, 0, 0.378);
    display: inline-block;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 9px;
}